/*------------------------
 /*BASIC SETUP  */
/*-----------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    list-style-type: none;
    text-decoration: none;
    /*font-family: 'EB Garamond', serif;*/

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    font-family: 'Titillium Web', sans-serif;
}

ul li {
    list-style-type: none;
}

/*Heading*/

h1 {
    font-size: 3.6rem;

    color: #ffffff;
}

h2 {
    font-size: 4rem;
    font-weight: 600;
    word-spacing: .5rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #ffffff;
    text-align: center;

}

h2:after {
    content: '';
    display: block;
    height: .4rem;
    width: 15rem;
    background: #14A58C;
    margin: auto;
    margin-top: 2rem;

}

h3 {
    font-size: 2.4rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;

}

h4 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 2.5rem;
}

/*peragraph*/

.lead-description {
    font-size: 1.8rem;
    width: 70%;
    margin: auto;
    color: #ffffff;
    line-height: 2.5rem;
    text-align: center;

}

.lead {
    font-size: 1.8rem;
    margin: auto;
    color: #ffffff;
    line-height: 2.5rem;

}

.btn:link,
.btn:visited,
.btn {
    background: #333;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.6rem 4rem;
    border-bottom: .3rem solid #000000;
    border-radius: .3rem;
    display: inline-block;
    margin-top: 4.5rem;
    font-size: 1.8rem;
    cursor: pointer;
}


.portfolio-active {
    background: #fff;
}


/*------------------------- */
/*reusable component */
/*-------------------------*/
.row {
    max-width: 114rem;
    margin: 0 auto;

}

section {
    padding: 8rem 0;

}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
}

/*header section*/

.nav {
    display: inline;


}

.navbar-brand .logo {
    height: 5rem;
    margin-top: 3rem;

}

.main-nav {
    float: right;
    margin-left: auto;

}

.main-nav li {
    display: inline-block;
    margin-top: 5.0rem;
    margin-left: 1.5rem;

}

.main-nav li :first-child {
    margin-left: 0;
}

.main-nav li a {
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: .5rem;
    color: #ffffff;
    font-size: 1.6rem;

}

.main-nav li a:link,
.main-nav li a:visited {
    color: #ffffff;

}

.main-nav li.active a,
.main-nav li a:hover {
    background-color: #643A79;
}

/* sticky navigation*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(115, 49, 144, 0.73);
    -webkit-box-shadow: 0 0 1rem #222222;
    box-shadow: 0 0 1rem #222222;
    z-index: 22255;

}

.sticky .navbar-brand .logo {

    margin-top: 0;
    padding: 1rem 0;

}

.sticky .main-nav li {
    margin: 2rem 0;

}


/*barger menu*/

.mobile-menu {
    float: right;
    margin-top: 2rem;



}

.mobile-menu span {
    color: #ffffff;
    font-size: 4rem;
    display: none;

}

.mobile-menu span:hover {
    cursor: pointer;
}

.barger-overlay {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;


}

.barger-overlay .closebtn {
    position: absolute;
    top: 2rem;
    right: 4rem;

    font-size: 4rem;
    color: #ffffff;
}

.barger-menu-content {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

}

.barger-menu-content a {
    display: block;
    font-size: 4rem;
    color: #6a6a6a;
    text-transform: uppercase;
    -webkit-transition: 1s;
    transition: 1s;
}

.barger-menu-content a:hover {
    color: #ffffff;
}








.banner {
    margin-top: -9rem;
    position: relative;
    z-index: -2;
    height: 75rem;

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(135, 80, 156, 0.9)), to(rgba(135, 80, 156, 0.9))), url("image/thomas-millot-KiRGZK7kgcc-unsplash.jpg");

    background: linear-gradient(rgba(135, 80, 156, 0.9), rgba(135, 80, 156, 0.9)), url("image/thomas-millot-KiRGZK7kgcc-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;



}

.banner .hero-text-box {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

}

.banner .hero-text-box .btn-hero:link,
.banner .hero-text-box .btn-hero:visited {
    background-color: #EB7D4B;
    border-bottom-color: #C86A40;
}

/*----------------------------*/
/*services section*/
/*------------------------------*/

.services {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 194, 164, 0.7)), to(rgba(23, 194, 164, 0.7))), url("image/blogging-blur-communication-261662.jpg");
    background: linear-gradient(rgba(23, 194, 164, 0.7), rgba(23, 194, 164, 0.7)), url("image/blogging-blur-communication-261662.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    text-align: center;

}

.service {
    margin: 2rem 0;
    text-align: center;
}

.service img {
    height: 10rem;
    margin-bottom: 2rem;


}

.service h3 {
    margin: 1.5rem 0;
}

.service .lead {
    padding: 0 1rem;
}

/*----------------------------*/
/*services section*/
/*------------------------------*/

.teams {

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 241, 248, 0.9)), to(rgba(231, 241, 248, 0.9))), url("../resources/img/team.jpg");

    background: linear-gradient(rgba(231, 241, 248, 0.9), rgba(231, 241, 248, 0.9)), url("../resources/img/team.jpg");
    background-position: center top;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;

}

.teams h2 {
    color: #3C4761;
}

.teams h2:after {
    background-color: #C8D9E5;
}

.teams .lead-description {
    color: #3c4761;

}

.teams .team {
    margin-top: 3rem;
}

.team .team-member {
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;

}

.team h3 {
    color: #3C4761;
    padding-bottom: .8rem;
}

.team .role {
    font-size: 1.6rem;
    color: #30bae7;
    margin-bottom: .6rem;
    text-transform: capitalize;


}

.team .lead {
    color: #3c4761;
    padding: 0 1.5rem;

}

.team .social-link {
    margin-top: 4.5rem;
}

.team .social-link ul li {
    display: inline-block;
    margin: 0 .5rem;


}

.social-link ul li a i {
    color: #ffffff;
}

.social-link ul li a:hover i {
    color: red;

}

.social-link ul li a:link i::before {
    height: 2rem;
    width: 2rem;
    background: #bdd1df;
    border-radius: 50%;
    display: inline-block;
    font-size: 2rem;
    padding: 1.2rem;
    -webkit-transition: 2s;
    transition: 2s;

}

.social-link ul li a:hover i::before {
    background-color: #393939;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

}

/*----------------------------*/
/*skills section*/
/*------------------------------*/
.skills {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.71)), to(rgba(255, 255, 255, 0.71))), url("../resources/img/apple-desk-internet-209151.jpg");
    background: linear-gradient(rgba(255, 255, 255, 0.71), rgba(255, 255, 255, 0.71)), url("../resources/img/apple-desk-internet-209151.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.skills h2,
.skills p {
    color: #3c4761;
}

.skills h2::after {
    background: #DFE8ED;
}

.skills .lead-description {
    width: 50%;

}

.skill {
    text-align: center;
    margin-top: 4.5rem;
}

.skill .radial-progress circle {
    stroke-width: 5;
}

.skill .radial-progress text {
    fill: #3c4761;
    font-size: 1.5rem;
}

.skill .web-design circle {
    stroke: #30bae7;
}

.skill .html-css circle {
    stroke: #D74680;
}

.skill .graphic-design circle {
    stroke: #15C7A8;

}

.skill .ui circle {
    stroke: #EB7D4B;
}

.skill h3 {
    color: #3c4761;
}

/*----------------------------*/
/*portfolio section*/
/*------------------------------*/

.portfolio {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 221, 153, 0.8)), to(rgba(255, 221, 153, 0.8))), url("image/thomas-millot-KiRGZK7kgcc-unsplash.jpg");
    background: linear-gradient(rgba(255, 221, 153, 0.8), rgba(255, 221, 153, 0.8)), url("image/thomas-millot-KiRGZK7kgcc-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;

}

.portfolio h2,
.portfolio p {
    color: #3c4761;
}

.portfolio h2::after {
    background: #E5C37F;
}

.portfolio .lead-description {
    width: 50%;

}

.portfolio-filter {
    margin: 4rem auto;
    text-align: center;
}

.portfolio-filter button {
    background: #EBC985;
    padding: .5rem 2rem;
    font-size: 2rem;
    border: none;
    border-radius: .5rem;
    margin: 0 1rem;
    text-transform: uppercase;
    -webkit-transition: .5s;
    transition: .5s;


}

.portfolio-filter button:hover {
    border: none;
    cursor: pointer;
    -webkit-box-shadow: inset 0 .3rem 1rem #3c4761;
    box-shadow: inset 0 .3rem 1rem #3c4761;



}

.portfolio-filter .mixitup-control-active {
    background: #ffffff;

}

.portfolio .col:nth-child(3) {
    margin-left: 0;

}

.portfolio .col:last-child {
    /*margin-left: 0;*/
}

.portfolio-project {
    text-align: center;
    margin-bottom: 1.6rem;


}

.portfolio-project img {
    width: 100%;
    height: auto;

}

.load-more {
    text-align: center;
}

.load-more .btn-load-more {
    background: #17C2A4;
    border-color: #14A58C;
}

/*----------------------------*/
/*testimonial section*/
/*------------------------------*/

.testimonial {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(215, 70, 128, 0.8)), to(rgba(215, 70, 128, 0.8))), url("../resources/img/you-x-ventures-ZJlfUi5rTDU-unsplash.jpg");
    background: linear-gradient(rgba(215, 70, 128, 0.8), rgba(215, 70, 128, 0.8)), url("../resources/img/you-x-ventures-ZJlfUi5rTDU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    color: #ffffff;

}

.testimonial h2::after {
    background: #B73C6D;
}

.testimonial .lead-description {
    width: 50%;
    text-align: center;
    margin-bottom: 3rem;

}

.testimonial .col:nth-child(3) {
    margin-left: 0;
}

.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2) {
    margin-top: 4rem;
}

.testimonial .col:nth-child(4),
.testimonial .col:nth-child(3) {
    margin-top: 4rem;
}

.client-photo {
    width: 20%;
    float: left;
}

.client-photo img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem;

}

.client-review {
    width: 70%;
    float: left;
}

.client-review p {
    font-size: 2.3rem;
    font-style: italic;
    margin-bottom: 2rem;
    padding-right: 2.5rem;


}

.client-review .role {
    color: #FFDD99;
    margin-top: 1rem;
    font-size: 1.8rem;

}

/*----------------------------*/
/*testimonial section*/
/*------------------------------*/



.contact {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 84, 153, 0.8)), to(rgba(60, 84, 153, 0.8))), url("../resources/img/apple-desk-internet-209151.jpg");
    background: linear-gradient(rgba(60, 84, 153, 0.8), rgba(60, 84, 153, 0.8)), url("../resources/img/apple-desk-internet-209151.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    color: #ffffff;
    text-align: center;

}

.contact h2::after {
    background: #273A71;
}

.contact .lead-description {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;

}

.form {
    width: 80%;
    margin: 0 auto;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    background: #273A71;
    color: #ffffff;
    font-size: 1.8rem;
    width: 100%;
    border: 0;
    border-radius: .5rem;
    padding: 1rem;
    line-height: 1.5rem;


}

.form textarea {
    height: 20rem;
    margin-top: 3rem;

}

.form input[type="submit"] {
    border: 0;
    border-bottom: .3rem solid #299EC5;
    background: #30BAE7;
    padding: 2rem 6rem;


}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
    color: #ffffff;
}

.form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
    color: #ffffff;
}

.form input::placeholder,
.form textarea::placeholder {
    color: #ffffff;
}



/*----------------------------*/
/*footer section*/
/*------------------------------*/


.footer-section {
    background: #344B8E;
    color: #ffffff;
    font-size: 2rem;


}

.footer-section ul {
    /*display: flex;*/
    margin: 3rem;

}

.footer-section ul li {

    display: inline-block;

}

.footer-section ul li a {
    color: #ffffff;

}

.footer-section ul li a:hover {
    color: #30BAE7;

}
